@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Black.eot");
    src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Bold.eot");
    src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Regular.eot");
    src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Light.eot");
    src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

nav {
    display: block
}

canvas {
    display: inline-block;
    vertical-align: baseline
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

input {
    color: inherit;
    font: inherit;
    margin: 0
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0
}

::-moz-selection {
    background: #FFF498
}

::selection {
    background: #FFF498
}

::-moz-selection {
    background: #FFF498
}

img::-moz-selection {
    background: transparent
}

img::selection {
    background: transparent
}

img::-moz-selection {
    background: transparent
}

body {
    -webkit-tap-highlight-color: #FFF498
}

body {
    background-color: #0c0c0c;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

.l-viewport {
    position: relative;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.85);
    overflow: hidden
}

.l-wrapper {
    position: relative;
    width: 1440px;
    max-width: 90%;
    height: 100%;
    margin: 0 auto
}

.l-side-nav {
    position: absolute;

    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.l-side-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    max-height: 750px;
    background-color: #555;
    opacity: .35;
    z-index: 10
}

@media (max-width: 1180px) {
    .l-side-nav {
        display: none
    }
}

.l-main-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none
}

.l-section {
    position: absolute;
    width: 100%;
    height: 100%
}

.section {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s ease-in-out, visibility 0s .4s;
    transition: opacity .4s ease-in-out, visibility 0s .4s
}

.section--is-active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transition: opacity .4s ease-in-out .4s;
    transition: opacity .4s ease-in-out .4s
}

.side-nav {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 70%;
    max-height: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    z-index: 10
}

.side-nav>li {
    position: relative;
    top: -5px;
    color: #fff;
    font-size: 6px;
    cursor: pointer
}

.side-nav>li span {
    position: relative;
    top: 3px;
    left: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    visibility: hidden
}

.side-nav>li::before {
    position: absolute;
    top: 3px;
    left: 10px;
    color: #555;
    font-size: 14px;
    font-weight: 300
}

.side-nav li:nth-child(1)::before {
    content: "01"
}

.side-nav li:nth-child(2)::before {
    content: "02"
}

.side-nav li:nth-child(3)::before {
    content: "03"
}

.side-nav li:nth-child(4)::before {
    content: "04"
}

.side-nav li.is-active {
    color: #0f33ff;
    -webkit-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out
}

.side-nav li.is-active span {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out
}

.side-nav li.is-active::before {
    left: -33px;
    color: #fff
}


/* 

================================================= INTRO ZONE =================================================

*/
.intro {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto
}



.intro--banner {
    position: relative;
    height: 475px
}

.intro--banner::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: -15px;
    right: 0;
    height: 2px;
    background-color: #282828
}

.intro--banner::after {
    content: "";
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 30px;
    height: 4px;
    background-color: #38b811
}

.intro--banner h1 {
    position: relative;
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
    z-index: 1
}

.intro--banner img {
    position: absolute;
    bottom: 21px;
    right: -12px
}

.intro--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none
}

.intro--options>a {
    max-width: 250px;
    text-decoration: none;
    color: #282828;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

.intro--options>a:hover {
    color: #fff
}

.intro--options h3 {
    font-size: 16px;
    text-transform: uppercase
}

.intro--options p {
    margin-bottom: 0
}

@media (max-width: 1180px) {
    .intro {
        max-width: 100%;
    }

    #avatar,
    #matrix {
        display: block;
        max-width: 100%;
        height: 50%;
      
     
    }

    .intro--banner h1 {
        position: relative;
        font-size: 34px; /* Adjust font size as needed */
    }


    .intro--options a {
        margin-bottom: 5px;
        transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
    }
}

/* Adjust styles for smaller screens */
@media only screen and (max-width: 768px) {
    .intro--banner h1 {
        position: relative;
        font-size: 34px; /* Adjust font size as needed */
    }

    #matrix {
        display: block;
        max-width: 100%;
        /* Center horizontally */
    }

    #avatar {
        width: 80px; /* Adjust size as needed */
        height: 80px; /* Adjust size as needed */
        margin: 0 auto; /* Center horizontally */
    }

    

    .intro--options a {
        margin-bottom: 10px;
        transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  
        
    }
}



/* 

================================================= WORK ZONE =================================================

*/
.work {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 960px;
    max-width: 80%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto
}

@media (max-width: 1180px) {
    .work {
        max-width: 100%
    }


}

.work h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center
}

.work--lockup {
    position: relative
}

.work--lockup .slider {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    list-style: none
}

.work--lockup .slider--item {
    position: absolute;
    display: none;
    text-align: center
}

.work--lockup .slider--item-description {
    display: none;
    max-width: auto;
    margin: 0 auto;


}

.work--lockup .slider--item-left {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block
}

.work--lockup .slider--item-right {
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block
}

.work--lockup .slider--item-center {
    position: relative;
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block
}

.work--lockup .slider--item-center .slider--item-description {
    display: block
}

.work--lockup .slider--next {
    position: static;
    top: 160px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    border-radius: 50%;
    cursor: pointer
}



.slider--next svg {

    transition: all 0.3s ease;
    /* Add a transition for smooth scaling */
}

.slider--next:hover svg {
    transform: scale(1.5);
    /* Increase the size on hover */
}




/* CSS for mobile devices */
@media only screen and (max-width: 767px) {
    /* Adjust the layout to fit smaller screens */
    .slider {
      display: flex;
      flex-direction: column;
    }
  
    .slider--item {
      width: 100%;
      margin-bottom: 50px;
    }
  
  
  
    .slider--next {
      display: none; /* Hide the next button on mobile */
    }
  
    /* Reduce the font size of h2 elements */
    .slider--item-description h2 {
      font-size: 1.2rem; /* Adjust as needed */
    }
  
    /* Reduce the font size of p elements with class description */
    .slider--item-description p.description {
      font-size: 0.9rem; /* Adjust as needed */
    }
    .slider--next {
        /* Add styles specific to phone screens here */
        /* For example, you can adjust size or positioning */
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 20px;
        right: 20px;
   
        border-radius: 50%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    /* You may need to adjust SVG size or styles accordingly */
    .slider--next svg {
        width: 50%;
        height: 50%;
        fill: #333; /* Change color as needed */
    }
  }
  


  /* 

================================================= ANOUT ZONE =================================================

*/
.about {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto
}

@media (max-width: 1180px) {
    .education {
        max-width: 100%
    }

    #mendc {
        display: none;
    }

    .education {
        max-width: 100%
    }

  
    .resume-item {
      margin-bottom: 15px;
    }
  
    /* Reduce the font size of h3 elements */
    .resume-title {
      font-size: 1.2rem; /* Adjust as needed */
    }
  
    /* Reduce the font size of h4 elements */
    .resume-item h4 {
      font-size: 1rem; /* Adjust as needed */
    }
  
    /* Reduce the font size of h5 elements */
    .resume-item h5 {
      font-size: 0.9rem; /* Adjust as needed */
    }
  
    /* Reduce the font size of p elements */
    .resume-item p {
      font-size: 0.9rem; /* Adjust as needed */
    }
    .about--banner h2 {
        font-size: 1rem; /* Adjust as needed */
        margin-top: 20px; /* Adjust as needed */
      }
    
      .about--banner h2 a.cvlinks {
        font-size: 0.8rem; /* Adjust as needed */
        position: absolute;
        bottom: 0;
        right: 0;
      
      }
     
  }
  


#mendc {
    width: 50%;
    height: 90%;
    top: 0;
    left: 0;
}

.about--banner {
    position: relative;
    height: 475px
}

.about--banner::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 200px;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
    border: 5px solid #0f33ff;
    border-right-color: transparent;
    border-bottom-color: transparent
}

.about--banner::after {
    content: "";
    position: absolute;
    top: 75px;
    left: 400px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #0f33ff
}

.about--banner h2 {

    position: absolute;
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    z-index: 1;
    color: #5d5d5e;
    bottom: 0;
    left: 0;

}

.about--banner h2::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 268px;
    width: 30px;
    height: 30px;
    background-color: #0f33ff;
    border-radius: 50%
}

.about--banner h2::after {
    content: "";
    position: absolute;
    top: 255px;
    left: 255px;
    width: 10px;
    height: 10px;
    background-color: #0f33ff
}

.about--banner a {
    padding: 5px 17px 5px 0;
    text-decoration: none;
    color: #6fced1;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent
}

.about--banner img {
    position: absolute;
    bottom: -90px;
    right: -12px
}

.hire {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto
}

@media (max-width: 1180px) {
    .hire {
        max-width: 100%
    }
}

.work-request {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff
}

.work-request--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0
}

.work-request--options .options-a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.work-request--options .options-b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 72%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.work-request--options label {
    display: block;
    width: 200px;
    margin-bottom: 30px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border: 2px solid #fff;
    cursor: pointer;
    -webkit-transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out
}

.work-request--options label svg {
    position: relative;
    left: -5px;
    width: 0;
    fill: #fff;
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out
}

.work-request--options input[type="checkbox"] {
    display: none
}

.work-request--options input[type="checkbox"]:checked+label {
    background-color: #0f33ff;
    border-color: #0f33ff
}

.work-request--options input[type="checkbox"]:checked+label svg {
    width: 15px
}

@media (max-width: 767px) {
    .work-request--options {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .work-request--options .options-a,
    .work-request--options .options-b {
        display: block;
        width: auto
    }
}

@media (max-width: 600px) {
    .work-request--options {
        margin: 20px 0
    }
}

@media (max-width: 600px) and (max-width: 415px) {
    .work-request--options {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

@media (max-width: 600px) {
    .work-request--options label {
        width: 150px;
        margin-bottom: 15px;
        font-size: 14px
    }

    .work-request--options input[type="checkbox"]:checked+label svg {
        width: 12px
    }
}

.perspective {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.container {
    position: relative;
    -webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
    transform: translateZ(0) translateX(0) rotateY(0deg);
    min-height: 100%;
    outline: 30px solid #0f33ff;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s
}

.effect-rotate-left .container {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s
}

.outer-nav {
    position: absolute;
    top: 50%;
    left: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    visibility: hidden;
    -webkit-transition: visibility 0s .2s;
    transition: visibility 0s .2s
}

.outer-nav--return {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
    z-index: 11
}

.outer-nav>li {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateX(350px) translateZ(-1000px);
    transform: translateX(350px) translateZ(-1000px);
    font-size: 55px;
    font-weight: 900;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, -webkit-transform .2s;
    transition: transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s, -webkit-transform .2s
}

.outer-nav>li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
    width: 110%;
    height: 15px;
    opacity: 0;
    background-color: #0f33ff
}

.outer-nav>li.is-active::before {
    opacity: 1
}

@media (max-width: 767px) {
    .outer-nav>li {
        font-size: 44px
    }
}

@media (max-width: 600px) {
    .outer-nav>li {
        font-size: 34px
    }
}

#matrix {
    position: absolute;
    bottom: 20px;

    right: 0;

    z-index: 0;

}


.date-work {
    color: rgb(97, 97, 168);
    /* Change color as desired */
    font-size: 18px;
    /* Adjust font size as needed */
}

.slider--item-description ul li {
    text-align: left;
    font-size: 17px;
}


/* 

================================================= SKILLS ZONE =================================================

*/


/* Style for Education section */
.education {

    padding: 20px;
    /* Padding around the content */
    border-radius: 5px;
    /* Rounded corners */
    position: absolute;
    top: 0;
    right: 0;


    padding: 20px;
    /* Padding around the content */
    border-radius: 5px;
    /* Rounded corners */
}

/* Style for Resume Title */
.resume-title {
    color: #1e69cc;
    /* Text color */
    font-size: 24px;
    /* Font size */
    margin-bottom: 15px;
    /* Spacing at the bottom */
    position: relative;
    /* Relative positioning */
}

/* Add line with space to the left */
.resume-title::before {
    content: '';
    position: absolute;
    left: -10px;
    /* Adjust space */
    top: 0;
    bottom: 0;
    width: 2px;
    /* Line width */
    background-color: #007bff;
    /* Line color */
}

/* Style for each resume item */
.resume-item {
    margin-bottom: 15px;
    /* Spacing between items */
    padding-left: 20px;
    /* Adjust space for the content */
    position: relative;
    /* Relative positioning */
}

/* Style for the line between resume items */
.resume-item::before {
    content: '';
    position: absolute;
    left: -10px;
    /* Adjust space */
    top: 0;
    bottom: 0;
    width: 2px;
    /* Line width */
    background-color: #ccc;
    /* Line color */
}

/* Style for the heading of each resume item */
.resume-item h4 {
    color: #007bff;
    /* Heading color */
    font-size: 18px;
    /* Font size */
    margin-bottom: 5px;
    /* Spacing at the bottom */
}

/* Style for the date of each resume item */
.resume-item h5 {
    color: #555;
    /* Date color */
    font-size: 16px;
    /* Font size */
    margin-bottom: 5px;
    /* Spacing at the bottom */
}

/* Style for the location/emphasis of each resume item */
.resume-item p em {
    color: #777;
    /* Emphasis color */
}

/* Style for the list items */

.item-skills {

    padding: 10px;
    /* Padding around each item */
    margin-bottom: 5px;
    /* Margin between each item */
    border-radius: 5px;
    /* Rounded corners */
    font-size: 18px;
    /* Font size */
    color: #7e9de0;
    /* Text color */
}

/* Css */
.certification-link {
    color: #007bff; /* Blue color for links */
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .certification-link:hover {
    color: #0056b3; /* Darker blue color on hover */
  }
  